h1 {
     text-align: center;
     color: blue;
     font-family: arial;
     font-size: 40px;
  
}
h2 {
    color: red;
    font-weight: bold;
    font-size: 50px;
    text-align:center;
}
p {
    text-align: center;
    font-weight:bold;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.formId {
    display: block;
    text-align: center;
}
#logo {
    display: block;
    margin: auto;

}